<!-- Header -->
<section id="header">
    <header>
        <span class="image avatar"><img src="assets/images/avatar.jpg" alt="" /></span>
        <h1 id="logo"><a href="#">Diana Rodriguez</a></h1>
    </header>
    <nav id="nav">
        <ul>
            <li><a href="#home" class="btn-outline-danger e">Home</a></li>
            <li><a href="#about" class="btn-outline-danger e">About</a></li>
            <li><a href="#podcasts" class="btn-outline-danger">Podcasts/Online Workshops</a></li>
            <li><a href="#talks" class="btn-outline-danger">Talks/Workshops</a></li>
            <li><a href="#press" class="btn-outline-danger">Articles/Press</a></li>
            <li><a href="#projects" class="btn-outline-danger">Community Work</a></li>
        </ul>
    </nav>

    <footer>
        <ul class="icons">
            <li><a href="https://twitter.com/cotufa82" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://github.com/alphacentauri82" class="icon fa-github"><span class="label">Github</span></a></li>
            <li><a href="https://linkedin.com/nerdattack82" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
        </ul>
    </footer>
</section>
<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>